<div class="article">
  <h2 class="article-title"><%= article.title %></h2>
  <p class="article-content"><%= article.content %></p>
  <% if article.user %>
    <p class="article-author">By <%= article.user.username %></p>
  <% end %>
  <p class="article-links">
    <%= link_to_unless_current 'View', article %>
    <% if can? :update, article %>
      | <%= link_to 'Edit', edit_article_path(article) %>
    <% end %>
    <% if can? :destroy, article %>
      | <%= link_to 'Delete', article, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </p>
</div>
